body {
	font-family: arial;
	color: #333333;
	background-image: url('../9/bg.png');
	margin: 0;
}

#wrapper {
	margin: 8px;
}

h1 {
	font-size: 36px;
	text-align: center;
}

#introduction {
	
	font-style: italic;
	border: 1px solid black;
	box-shadow: 0 0 3px 0px #000;
	padding: 10px;
	background: rgba(255,255,255,0.9);
}

#pic {
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}

#things-i-like {
	clear: left;
}

.likes-list {
	padding-left: 0;
	list-style-type: none;
}

.likes-list li {
	border: 1px solid #000;
	margin-bottom: 15px;
	background: #fff;
	padding: 15px;
}

.likes-list li img {
	vertical-align: middle;
	margin-right: 15px;
}

.framed {
	border: 2px solid #ccc;
}

.likes-list .healthy {
	background-color: #C7FCC7;
}

.likes-list .unhealthy {
	background-color: #FFB5B5;
}

footer {
	background: rgba(255,255,255,0.8);
	border-top: 1px solid #ddd;
	padding: 20px;
	margin-top: 40px;
}

footer p {
	text-align: center;
	font-size: 12px;
}

footer a {
	position: absolute;
	top: 5px;
	right: 5px;
}